<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.accumulation.dev.android.worklib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application>
        <activity
            android:name="net.accumulation.dev.android.selectimage.activity.ChoiceImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="net.accumulation.dev.android.selectimage.activity.ChoiceVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="net.accumulation.dev.android.selectimage.activity.PreviewSelectImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>
</manifest>
